<section class="section" id="skills">
    <div class="container text-center">
        <h6 class="section-title mb-5">Skills</h6>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/html.png" class="portfolio-card-img img-fluid w-100 h-100"
                            alt="HTML Logo" />
                    </div>
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/css.png" class="portfolio-card-img img-fluid h-100" alt="CSS Logo" />
                    </div>
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/js.png" class="portfolio-card-img img-fluid h-100"
                            alt="JavaScript Logo" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <img src="assets/imgs/angular.png" class="portfolio-card-img img-fluid h-100"
                            alt="Angular Logo" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <img src="assets/imgs/python.png" class="portfolio-card-img img-fluid h-100"
                            alt="Python Logo" />
                    </div>
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/flask.png" class="portfolio-card-img img-fluid h-100"
                            alt="Flask Logo" />
                    </div>
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/mysql.png" class="portfolio-card-img img-fluid h-100"
                            alt="MySQL Logo" />
                    </div>
                    <div class="col-md-2 mb-3 ">
                        <img src="assets/imgs/git.png" class="portfolio-card-img img-fluid h-100" alt="Git Logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>