 <!-- service section -->
 <section class="section" id="experience">
    <div class="container text-center">
        <p class="section-subtitle">What I Do ?</p>
        <h6 class="section-title mb-6">Service</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/atomicnorth.jpg" alt="logo" class="icon" width="400" height="40" />
                        <h6 class="title">Atomic North Private Limited</h6>
                        <p class="subtitle">
                            Worked on a project of datascience in front-end using Angular
                            framework and back-end using Python Flask.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/angrybaaz.png" alt="logo" class="icon" width="400" height="40" />
                        <h6 class="title">Angrybaaz Service Private Limited</h6>
                        <p class="subtitle">
                            Worked on a website of angrybaaz in front-end using HTML, CSS,
                            JavaScript in Angular framework.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of row -->
    </div>
</section>
<!-- end of service section -->