    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">Portfolio</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li> 
                <li class="item">
                    <a class="link" href="#experience">Experience</a>
                </li>
                <li class="item">
                    <a class="link" href="#cerfications">Cerfications</a>
                </li>
                <li class="item">
                    <a class="link" href="#skills">Skills</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
<!--                 <li class="item ml-md-3">
                    <a href="https://drive.google.com/file/d/1NMjOJxNdWf5IP3DszdguoFYshniBW0Ul/view?usp=sharing" target="_blank" class="btn btn-primary">Download CV</a>
                 </li>      -->
                                  <button><a href="src/assests/pdf/BirSingh_CV.pdf" download="Resume" >Download cv</a> <i class="fa fa-download"></i></button>                               

            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav>
