<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="assets/imgs/profile.png" class="about-img" alt="logo" style="height: 300px; width: 250px;" />
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                    I have gained highly valuable practical knowledge and skills through
                    work experience during my tenure as a Front-end Developer at
                    Angrybaaz Service Private Limited (September 2022 - March 2023) and
                    my current position as a Front-end Developer at Atomic North Private
                    Limited (since July 2023). At Angrybaaz, I worked on developing the
                    front-end of the Angrybaaz website utilizing HTML, CSS, and
                    JavaScript within the Angular framework. In my current role at
                    Atomic North, I leverages my proficiency in Angular and Python Flask
                    to contribute to a data science project. Both positions have honed
                    my abilities in web development and allowed my self to expand my
                    skillset into data science projects.
                </p>
                <div class="contact-info">
                    <p><b style="font-size: large; font-weight: bolder;">Mobile Number:</b> (+91) 9871243086</p>
                    <p><b style="font-size: large; font-weight: bolder;">Email:</b> birsinghjangra15&#64;gmail.com</p>
                </div>                    
                <a href="https://drive.google.com/file/d/1NMjOJxNdWf5IP3DszdguoFYshniBW0Ul/view?usp=sharing" target="_blank" download="BirSingh_CV.pdf">
                    <button class="btn-rounded btn btn-outline-primary mt-4">
                        Download CV
                    </button>
                </a>
            </div>
        </div>
        <!-- end of about wrapper -->
    </div>
    <!-- end of container -->
</section>
<!-- end of about section -->
