<div class="container">
    <footer class="footer">
        <p class="mb-0">
            <script>
                document.write(new Date().getFullYear());
            </script>
            &copy; <a> 2023 by Bir Singh Jangra</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="mailto:Birsinghjangra15@gmail.com" class="link"><i class="ti-google"></i></a>
            <a href="https://www.github.com/birsinghjangra" target="_blank" class="link"><i class="ti-github"></i></a>
            <a href="https://www.linkedin.com/in/bir-singh-jangra" target="_blank" class="link"><i
                    class="ti-linkedin"></i></a>
            <a href="https://twitter.com/vickyjangra1504" target="_blank" class="link"><i
                    class="ti-twitter-alt"></i></a>
            <a href="https://www.instagram.com/vicky._.jangra15/" target="_blank" class="link"><i
                    class="ti-instagram"></i></a>
            <a href="#" id="scrollToTopButton" class="link"><i class="ti-arrow-up"></i></a>
        </div>
    </footer>
</div>
<script>
    // Get the arrow button
    var scrollToTopButton = document.getElementById('scrollToTopButton');

    // When the user clicks on the button, scroll to the top of the document
    scrollToTopButton.addEventListener('click', function () {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>